Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.7
flasgger==0.9.5
flask-swagger-ui==3.36.0
flask-restx==0.5.1
Flask-CORS==4.0.0
Werkzeug==2.3.7
PyMySQL==1.1.0
python-dotenv==1.0.0
flask-restx==0.5.1
